<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/moviedb"
        android:label="@string/app_name"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan"
        android:roundIcon="@mipmap/moviedb"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31"
        tools:ignore="DiscouragedApi">
        <activity
            android:name=".view.ui.activities.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication3"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ui.activities.home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="RedundantLabel">

        </activity>
        <activity
            android:name=".view.ui.activities.home.HomeDetailsScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="RedundantLabel">

        </activity>
    </application>

</manifest>